<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/characters">Characters</a></li>
                <li><a href="/creatures">Magical Creatures</a></li>
                <li><a href="/potions">Potions</a></li>
                <li><a href="/movies">Movies</a></li>
                <li><a href="/weather">Weather</a></li>
                <li><a href="/auth/logout">Logout</a></li>
            </ul>
        </nav>
    </header>
    <h1>Register</h1>

    <!-- Flash messages -->
    <% if (success_msg) { %>
        <div class="alert alert-success"><%= success_msg %></div>
    <% } %>
    <% if (error_msg) { %>
        <div class="alert alert-danger"><%= error_msg %></div>
    <% } %>

    <form action="/auth/register" method="POST">
        <input type="text" name="firstName" id="firstName" placeholder="First Name" autocomplete="given-name" required>
        <input type="text" name="lastName" id="lastName" placeholder="Last Name" autocomplete="family-name" required>
        <input type="number" name="age" id="age" placeholder="Age" autocomplete="bday" min="10" required>
        <select name="gender" id="gender" autocomplete="sex" required>
            <option value="" disabled selected>Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
        </select>
        <input type="text" name="username" id="username" placeholder="Username" autocomplete="username" required>
        <input type="password" name="password" id="password" placeholder="Password" autocomplete="new-password" required>
        <button type="submit">Register</button>
    </form>
    

    <p>Already have an account? <a href="/auth/login">Login here</a>.</p>
    <footer style="text-align: center; margin-top: 20px; padding: 10px; background-color: #f4f4f4;">
        <p>Assel Khaidarova, BDA-2301</p>
    </footer>
    
</body>
</html>
